<!DOCTYPE html>
<html>
<head>
	<title>假装玩贪吃蛇&插♂花</title>
	<meta charset="utf-8">
	<meta name="description" content="for Alvira">
	<link rel="stylesheet" type="text/css" href="./public/css/index.css">
	<script type="text/javascript" src="./public/js/index.js"></script>
</head>
<body>
	<div id="main">
		<p>你真的会玩贪吃蛇？</p>
		<label for="username">玩家名 ：</label>
		<input type="text" id="username" placeholder="输入玩家名">
		<input type="button" value="确定">
		<p><span>玩家名 ：</span></p>
		<p>房间列表</p>
		<div id="roomList">
			<ul>
				<li><span>插花杯</span><span>2/4</span></li>
			</ul>
		</div>
</body>
</html>