doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type="text/javascript",src="/javascripts/jquery-min.js")
    script(type="text/javascript",src="/socket.io/socket.io.js")
    script(type="text/javascript",src="/javascripts/index.js")
    script(type="text/javascript",src="/javascripts/game.js")
    script(type="text/javascript",src="/javascripts/snake.js")
  body
    block content